<p>In a farm there are:
<ul>
<li> ++++ chicken 
<li> ++++ ducks
<li> ++++ cows
<li> ++++ rhynos
</ul>

<ol>
<li> How many legs have they in total? ____
<li> How many horns have they in total? ____
<li> ____ have the greatest number of legs in total
</ol>

